<div class="container">
  <h1>My todo manager</h1>

  <p>(For later ->
    Show:
    <a href="#">Remaining</a> |
    <a href="#">Completed</a> |
    <a href="#">All</a>
    )
  </p>

  <div class="mb-4">
  <% @tasks.each do |task| %>
    <div>
      <input type="checkbox" <%= "checked" if task.completed == true %>>
      <%= link_to task.title, task_path(task) %>
    </div>
  <% end %>
  </div>

  <%= link_to "+ Add new task", new_task_path, class: 'btn btn-primary' %>

</div>
